*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.figura{
    padding: 15px;
    width: 390px;
}

nav{
    width: 100%;
    height: 70px;
    background-color: rgb(111, 111, 255);
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0px 30px 0px 30px;
}

.cont-menu{
    display: none;
    position: absolute;
    right: 0;
    top: 70px;
    padding-top: 35px;
    justify-content: flex-start;
    align-items: center;
    transition: all 0.5s;
    gap: 20px;
    background-color: rgb(214, 214, 214);
    width: 100px;
    height: 90vh;
    overflow: hidden;
}

.cont-menu li{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.cont-menu li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: sans-serif;
}

input{
    appearance: none;
    background-image: url(menu.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: 0.3s;
}

input:checked ~ .cont-menu{
    display: block;
}

input:checked{
    background-image: url(abajo.png);
    background-size: cover;
    background-position: center center;
    transition: 0.2s;
    width: 25px;
    height: 20px;
    cursor: pointer;
}
